@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <nav class="nav-account z-depth-1 cyan darken-3">
            <ul class="nav navbar-nav navbar-right ">
                <li>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", data_target = "dropdown1", @class = "dropdown-trigger" })
                        <ul id='dropdown1' class='dropdown-content'>
                            <li> @Html.ActionLink("Управление товарами", "Index", "GoodsManage")</li>
                            <li><a href="#!">Роли пользователей</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">Настройки аккаунта</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="material-icons">exit_to_app</i>Выход</a></li>
                        </ul>
                    }
                    else if (User.IsInRole("User"))
                    {
                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", data_target = "dropdown1", @class = "dropdown-trigger" })
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">Корзина</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">Настройки</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"> <i class="material-icons">exit_to_app</i>Выход</a></li>
                        </ul>
                    }

                </li>
             
            </ul>
        </nav>
    }
}
else
{
    <ul>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
